*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header{
    background-color: #FFF5F8;
    padding: 1rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: #AE2F62;
}

.logo span{
    font-size: 2rem;
}

.logo strong{
    display: block;
    color: #AE2F62;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.logo small{
    display: block;
    color: #AE2F62;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}

header a{
    color: #AE2F62;
    text-decoration: none;
}

header nav a:hover{
    color: #ae2f62;
}

.acoes-header{
    display: flex;
    gap: 1rem;
    color: #AE2F62;
    font-size: 1.4rem;
}

.inicio{
    background-color: #FCE4EC;
    color: #7A1644;
    padding: 40px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.inicio-texto,.inicio-imagem{
    flex: 1;
}

.inicio-texto h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    line-height: 1.2;
}

.inicio-texto p{
    text-align: justify;
    line-height: 1.5;
}

.inicio-imagem figure{
    margin: 0;
}

.inicio-imagem img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.inicio-imagem figcaption{
    color: #6b4e4e;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botao{
    display: inline-block;
    background-color: #ae2f62;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.botao:hover,.buques button:hover,.sobre-conteudo button:hover,.formulario-final button:hover {
    background-color: #6b4e4e;
}

.flores{
    padding: 2rem;
    text-align: center;
    color: #8B1E4F;
    background-color: #F5CBD9;
}

.titulo-secao{
    text-align: center;
    margin: 2px;
    font-size: 1.5rem;
    color: #ae2f62;
}

.titulo-secao p{
    font-weight: bold;
}

.categorias{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;   
    padding: 2rem;
}

.categorias article, .buques article{
    border: none ;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0.3rem 0.3rem 0.3rem #72153F;
}


.categorias article{
    background-color: #FCE4EC;
}

.categorias img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.categorias h3, .buques h3{
    font-size: 1.5rem;
    color: #ae2f62;
    margin: 0.5rem;
}

.categorias article p, .buques article p{
    line-height: 1.5;
    font-size: 1rem;
    color: #72153F;
}

.buques{
    padding: 2rem;
    text-align: center;
    background-color: #F9DCE7;
    color: #8B1E4F;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.buques h2{
    grid-column: 1/3;
}

.buques article{
    background-color: #fff8f5;
    padding: 1.5rem;
}

.buques img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
}

.buques button, .sobre-conteudo button, .formulario-final button{
    background-color:#ae2f62;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    display: inline-block;
}

.sobre{
    padding: 2rem;
    text-align: justify;
    background-color: #fff8f5;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.imagem-sobre, .sobre-conteudo, .conteudo-escolher{
    flex: 1;
}

.imagem-sobre img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 2rem;
}

.sobre h2{
    text-align: center;
    color: #ae2f62;
    font-size: 2rem;
    margin-bottom: 0.5rem;

}

.sobre p{
    color: #72153F;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.sobre h3{
    text-align: center;
    color: #ae2f62;
    font-size: 1.5rem;
    padding-top: 0;
    margin-bottom: 0.5rem;
}

.sobre ul{
    color: #72153F;
    list-style: none;
    padding: 1rem;
}

.sobre li{
    margin-bottom:1rem;
}

.sobre-conteudo{
    border-right: 2px solid #ae2f62;
    padding-right: 4rem;
}

#formulario{
    padding: 2rem 5rem;
    background-color: #F8D3DF;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    color: #72153F;
}

.formulario-texto{
    flex: 1;
    background-color: #fff8f5;
    padding: 3rem;
    border-radius: 2rem;
    align-self: center;
    text-align: center;
    box-shadow: 0.2rem 0.2rem 0.2rem #6b4e4e;
}

.formulario form{
    flex: 2;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.formulario-campos{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.formulario-final{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-self: flex-end;
}

.formulario-final fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.formulario-final fieldset label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#formulario input:not([type="radio"]):not([type="checkbox"]), #formulario select, #formulario textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#formulario select, #formulario textarea{
    border-radius: 1rem;
}

.campo{
    display: grid;
    gap: 0.5rem;
}

.campo-observacao{
    grid-column: 1/-1;
    display: grid;
}


footer{
    background-color: #590219;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-contatos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-contatos a{
    color: white;
    text-decoration: none;
}
.footer-contatos a:hover{
    color: #f786b4;
}

footer nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer nav a{
    color: white;
    text-decoration: none;
}

footer nav a:hover{
    color: #f786b4;
}

.copyright{
   margin-top: 2rem;
   flex-basis: 100%;
   text-align: center;
   font-size: 0.6rem;
}

.footer-centro{
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 1rem;
}

@media screen and (max-width:768px){

    header{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding: 1rem 5vw;
    }

    header nav{
        gap: 1rem;
    }

    .acoes-header{
        justify-content: center;
    }

    .inicio{
        flex-direction: column;
        text-align: center;
        min-height: 70vh;
        padding: 5vh 5vw;
    }

    .inicio-texto, .inicio-imagem{
        width: 100%;
    }

    .inicio-texto p{
        text-align: center;
    }

    .inicio-texto h1{
        line-height: 1.7;
    }
    
    .inicio-imagem img{
        height: 30vh;
    }

    .categorias,.buques{
        grid-template-columns: 1fr;
    }


    .buques h2{
        grid-column: 1;
    }

    .sobre{
        flex-direction: column;
        align-items: center;
        padding: 5vw;
    }

    .imagem-sobre,.conteudo-escolher,.sobre-conteudo{
        width: 100%;
    }

    .sobre-conteudo{
        border-right: none;
        border-bottom: 2px solid #ae2f62;
        padding-right: 0;
        padding-bottom: 2rem;
    }

    #formulario{
        flex-direction: column;
        align-items: stretch;
        padding: 5vh 5vw;
    }

    .formulario-texto{
        width: 100%;
        padding: 2rem;
    }

    .formulario form{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .formulario-campos{
        grid-template-columns: 1fr;
    }

    .campo, .formulario-final, .campo-observacao{
        width: 100%;
    }


    .formulario-final fieldset{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.7rem;
    }
    .formulario-final button{
        align-self: center;
    }
   
    footer{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 5vh 5vw;
    }

    footer nav{
        flex-wrap: wrap;
    }
}
